Legrand Windows Phone 8/Legrand/Legrand/Service References/ServiceReference1/ServiceMetadata1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.254.126:8080/ServiceMetadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFDataContract" />
  <xs:element name="acknowledge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trunkedCcNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="acknowledgeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTheData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTheDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFDataContract" minOccurs="0" name="getTheDataResult" nillable="true" type="q1:HasSomeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>