Application Legrand/Legrand/Service References/ServiceLegrand/ServiceLegrand.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceLegrand" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.20.10.12:8030/ServiceOpenWebNet?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.20.10.12:8030/ServiceOpenWebNet?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.20.10.12:8030/ServiceOpenWebNet?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/OpenWebNetDataContract.Model" />
      <xsd:import schemaLocation="http://172.20.10.12:8030/ServiceOpenWebNet?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceLegrand_serviceHome_InputMessage">
    <wsdl:part name="parameters" element="tns:serviceHome" />
  </wsdl:message>
  <wsdl:message name="IServiceLegrand_serviceHome_OutputMessage">
    <wsdl:part name="parameters" element="tns:serviceHomeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLegrand_serviceEquipment_InputMessage">
    <wsdl:part name="parameters" element="tns:serviceEquipment" />
  </wsdl:message>
  <wsdl:message name="IServiceLegrand_serviceEquipment_OutputMessage">
    <wsdl:part name="parameters" element="tns:serviceEquipmentResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLegrand_getMot_InputMessage">
    <wsdl:part name="parameters" element="tns:getMot" />
  </wsdl:message>
  <wsdl:message name="IServiceLegrand_getMot_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMotResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceLegrand">
    <wsdl:operation name="serviceHome">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLegrand/serviceHome" message="tns:IServiceLegrand_serviceHome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLegrand/serviceHomeResponse" message="tns:IServiceLegrand_serviceHome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="serviceEquipment">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLegrand/serviceEquipment" message="tns:IServiceLegrand_serviceEquipment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLegrand/serviceEquipmentResponse" message="tns:IServiceLegrand_serviceEquipment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMot">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLegrand/getMot" message="tns:IServiceLegrand_getMot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLegrand/getMotResponse" message="tns:IServiceLegrand_getMot_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceLegrand" type="tns:IServiceLegrand">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="serviceHome">
      <soap:operation soapAction="http://tempuri.org/IServiceLegrand/serviceHome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="serviceEquipment">
      <soap:operation soapAction="http://tempuri.org/IServiceLegrand/serviceEquipment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMot">
      <soap:operation soapAction="http://tempuri.org/IServiceLegrand/getMot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceLegrand">
    <wsdl:port name="BasicHttpBinding_IServiceLegrand" binding="tns:BasicHttpBinding_IServiceLegrand">
      <soap:address location="http://172.20.10.12:8019/OpenWebNet" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>